[submodule "lib/GoogleAPI"]
	path = lib/GoogleAPI
	url = https://github.com/google/google-api-php-client.git
[submodule "lib/gocardless-php"]
	path = lib/gocardless-php
	url = git@github.com:gocardless/gocardless-php.git
