*~
*.swp
london.hackspace.org.uk/images/photos
london.hackspace.org.uk/flickr.html
var
etc/config.php
.vagrant

__pycache__/
*.py[cod]
*$py.class
env/
lhs/local_settings.py
lhs/production_settings.py
