*~
*.swp
london.hackspace.org.uk/images/photos
london.hackspace.org.uk/flickr.html
london.hackspace.org.uk/cam_snapshots
var
etc/config.php
.vagrant

vagrant-env
__pycache__/
*.py[cod]
*$py.class
env/
lhs/local_settings.py
lhs/production_settings.py
bin/.pgpass
static/
