version: '3.8'
services:
  web:
    image: nginx
    ports:
      - 8000:8000
    volumes:
      - .:/app
      - ./nginx/docker-compose.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - db
    networks:
      - lhs

  php:
    build:
      context: .
      dockerfile: docker/Dockerfile-php
    ports:
      - 9000:9000
    volumes:
      - .:/app
      - ./etc/config.php-docker:/app/etc/config.php
      - ./var-docker:/app/var  # mask Vagrant's var until we're using docker everywhere
      - php-session:/session  # must be owned by www-data, as done in Dockerfile-php
    depends_on:
      - db
    networks:
      - lhs

  python:
    build:
      context: .
      dockerfile: docker/Dockerfile-python
    environment:
      DJANGO_SETTINGS_MODULE: lhs.docker_settings
    ports:
      - 9001:80
    volumes:
      - .:/app
      - php-session:/session
    depends_on:
      - db
    networks:
      - lhs

#  ruby:
#    build:
#      context: .
#      dockerfile: docker/Dockerfile-ruby
#    ports:
#      - 8002:8002
#    depends_on:
#      - db
#    networks:
#      - lhs

  db:
    # Flourish relies on pg_attrdef.pg_attrdef, which is removed in 12
    image: "postgres:11-alpine"
    environment:
      - POSTGRES_DB=hackspace
      - POSTGRES_USER=hackspace
      - POSTGRES_PASSWORD=hackspace
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - lhs

  smtp:
    build:
      context: .
      dockerfile: docker/Dockerfile-smtp
    # ports:
    #   - 9025:25
    volumes:
      - .:/app
      - ./etc/postfix/main.cf:/etc/postfix/main.cf
      - ./etc/postfix/master.cf:/etc/postfix/master.cf
      - ./etc/postfix/virtual:/etc/postfix/virtual
      - ./etc/postfix/mailname:/etc/mailname
    networks:
      - lhs

volumes:
  php-session:
  pgdata:

networks:
  lhs:

