html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

body, .btn {
    font-size: 25px;
}

.form-control {
    font-size:25px;
    height:42px;
}
