body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #232323;   /* off-black */
   background: transparent url('/images/bg.png') center top no-repeat;
}

a {
    text-decoration: underline;
}

nav a, a.btn, .dropdown-menu a {
	text-decoration: none;
}

.page-container {
	position: relative;
}

/* Header */

#hd {
    font-weight: lighter;
}

#hd.small-page-heading div {
    margin-bottom: 14px;
}

#hd a, #hd h1 {
    float:left;
    padding: 0px 14px 7px 0px;
    margin: 0;
}
h2 {
	font-size: 28px;
	font-weight: 700;
}
h3 {
	font-size: 22px;
	font-weight: 700;
}
#hd a {
	padding-top: 3px;
}
#hd a img {
	width: 60px;
	height: 60px;
}

#hd.small-page-heading .col-md-12 {
    height: 80px;
    padding-top: 15px;
}
#hd.small-page-heading img {
    width: 60px;
    height: 60px;
}
@media (max-width: 480px) {
    #hd.small-page-heading .col-md-12 {
        padding-top: 50px;
    }
}

#hd.large-page-heading {
    border-bottom: 1px solid #eeeeee;
    padding-top: 50px;
}
#hd.large_page_heading img {
    width: 95px;
    height: 95px;
}

#hd h1 {
    font-weight:700;
    font-size: 2em;
    line-height: 1em;
}

#hd.large-page-heading div.blurb {
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 1.3em;
    font-size: 1.33em;
}
@media (max-width: 768px) {
    #hd.large-page-heading div.blurb {
    	width: 100%;
    	float: none;
    	clear: both;
    }
    .navbar-nav {
    	margin: 0px;
    }
}

#hd hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}


/* Body */
#bd {
    padding-top: 3px;
}

#home-page-container section > p, #home-page-container section > div {
    margin-left:11px;
    margin-right:11px;
}
#bd form {
	max-width: 600px;
}


/* General Typography and spacing */

td, th {
    padding: 0.5em;
    border: 1px solid #AAA;
}

th {
    text-align:right;
    font-weight: bold;
}

thead th {
    text-align: center;
}


/* Home Page */
/* On the homepage, and in the section headers only, change h3 to white */
#home-page-container {
    font-size: 0.9em;
}

#home-page-container h3 {
    background-color: #3f3b97;
    color: white;
    padding: 8px 11px 8px 11px;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: normal;
    border-bottom: 1px #5a5784;
}

#flickr-badge-container p {
    padding-top:10px;
}

#flickr-badge-container a img {
    padding:1px;
    width: 33.3333%;
    max-width: 120px;
    max-height: 120px;
    height: auto;
}

img#google-map {
  width:100%;
  max-width: 350px;
  height:auto;
  max-height:250px;
}

/* Footer */
footer {
    text-align: right;
    font-size: 0.7em
}


/* Menus */

/* The login menu on the top right of the page */
#login-logout-container {
    position: absolute;
    z-index: 50;
    right: 10px;
    top: 1em;
    font-size: 0.9em;
}
#login-logout-container .btn {
	margin-left: 10px;
}
#member-menu {
	border-top: 1px solid #ddd;
	width: 100%;
}

.nav li.active {
    padding: 14px;
    background-color: #ddd;
}
.dropdown-menu>li.active {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
    background-color: #f8f8f8;
}

/* Signup page */

#signuptable input.submit {
    float: right;
}

/* Other */
#bd form table {
    margin-left:0px;
}

form th, form td {
    padding: 0.5em;
}
form table td {
    border:none;
}

label {
    font-weight:bold;
}

tbody th.member-id {
    font-weight: normal;
    color: #ccc;
}

@media print {
    body {
      background-image: none;
    }
    th.member-id {
        color: inherit;
    }
    
}

th a.sortable {
    color: inherit;
    text-decoration: none;
}

.navbar-collapse {
    background-color: #f8f8f8;
    margin: 10px 2px 0px;
    cursor: pointer;
    border: 1px solid #e7e7e7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    line-height: 20px;
    color: #777777;
    position: relative;
}
.navbar-collapse:after {
    content: '−';
    position: absolute;
    top: 50%;
    font-size: 20px;
    margin-top: -10px;
    right: 15px;
}
.navbar-collapse.collapsed:after {
    content: '+';
}

@media (min-width: 481px) {
    .collapse, .collapsing, .in {
        display: block;
        height: auto;
    }
    .navbar-collapse {
    	display: none;
    }
}
@media (max-width: 480px) {
    #home-page-container h3 {
        margin: 2px;
        position: relative;
        cursor: pointer;
    }
    #home-page-container h3:after {
    	content: '−';
    	position: absolute;
    	right: 10px;
    }
    #home-page-container h3.collapsed:after {
    	content: '+';
    }
    .collapse {
        display: none;
    }
    .collapsing, .in {
	    margin: 0px 2px 10px;
    }
    footer {
        margin-top: 20px;
    }
}
