/* override inherited styles from bootstrap */
.btn-primary {
	background-color: #283da6;
	border-color: #23348c;	
}
input[type='date'].form-control {
	width: auto;
	display: inline-block;
}
form .alert {
	padding: 10px;
	margin-top: 6px;
	margin-bottom: 2px;
	font-size: 0.8em;
}
.ui-datepicker {
	font-size: 11px;
}
/* /end override */

/* setup custom hackspace font families */
@font-face {
	font-family: 'hackspace-icons';
	src: url('../fonts/hackspace-icons.eot?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'hackspace-icons';
	src:url('../fonts/hackspace-icons.eot?#iefix-q5a37d') format('embedded-opentype'),
		url('../fonts/hackspace-icons.woff?-q5a37d') format('woff'),
		url('../fonts/hackspace-icons.ttf?-q5a37d') format('truetype'),
		url('../fonts/hackspace-icons.svg?-q5a37d#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="iconlhs-"], [class*=" iconlhs-"] {
	font-family: 'hackspace-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconlhs-callsign:before {
	content: "\61";
}
.iconlhs-hackspaceldap:before {
	content: "\64";
}
.iconlhs-facebook:before {
	content: "\66";
}
.iconlhs-github:before {
	content: "\67";
}
.iconlhs-hackspaceinfra:before {
	content: "\68";
}
.iconlhs-irc:before {
	content: "\69";
}
.iconlhs-linkedin:before {
	content: "\6c";
}
.iconlhs-google:before {
	content: "\6f";
}
.iconlhs-phone:before {
	content: "\70";
}
.iconlhs-flickr:before {
	content: "\72";
}
.iconlhs-skype:before {
	content: "\73";
}
.iconlhs-twitter:before {
	content: "\74";
}
.iconlhs-hackspacewiki:before {
	content: "\77";
}
.iconlhs-xmppjabber:before {
	content: "\78";
}
.iconlhs-youtube:before {
	content: "\79";
}
.iconlhs-rss:before {
	content: "\7b";
}
.iconlhs-ello:before {
	content: "\7c";
}
.iconlhs-minecraft:before {
	content: "\7e";
}
/* /end setup */


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	color: #232323;   /* off-black */
   background: transparent url('/images/bg.png') center top no-repeat;
}

a {
	text-decoration: underline;
}

nav a, a.btn, .dropdown-menu a {
	text-decoration: none;
}

/* Begin stats styles */
.stats-page pre {
	border: 0px;
	background-color: transparent;
	padding-left: 30px;
	font-weight: bold;
	padding-top: 0px;
	font-size: 1em;
}

.stats-page .calc-numbers {
	margin:auto;
}
.stats-page .calc-numbers .number {
	text-align:right;
}
/* End stats styles */

.page-container {
	position: relative;
}

/* Header */

#hd {
	font-weight: lighter;
}

#hd.small-page-heading div {
	margin-bottom: 14px;
}

#hd a, #hd h1 {
	float:left;
	padding: 0px 14px 7px 0px;
	margin: 0;
}
h2 {
	font-size: 28px;
	font-weight: 700;
}
h3 {
	font-size: 22px;
	font-weight: 700;
}
#hd a {
	padding-top: 3px;
}
#hd a img {
	width: 60px;
	height: 60px;
}

#hd.small-page-heading .col-md-12 {
	height: 80px;
	padding-top: 15px;
}
#hd.small-page-heading img {
	width: 60px;
	height: 60px;
}
@media (max-width: 480px) {
	#hd.small-page-heading .col-md-12 {
		padding-top: 50px;
	}
}

#hd.large-page-heading {
	border-bottom: 1px solid #eeeeee;
	padding-top: 50px;
}
#hd.large_page_heading img {
	width: 95px;
	height: 95px;
}

#hd h1 {
	font-weight:700;
	font-size: 2em;
	line-height: 1em;
}

#hd.large-page-heading div.blurb {
	margin-top: 6px;
	margin-bottom: 6px;
	line-height: 1.3em;
	font-size: 1.33em;
}
@media (max-width: 768px) {
	#hd.large-page-heading div.blurb {
		width: 100%;
		float: none;
		clear: both;
	}
	.navbar-nav {
		margin: 0px;
	}
}

#hd hr {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}


/* Body */
#bd {
	padding-top: 3px;
}

#home-page-container section > p, #home-page-container section > div {
	margin-left:11px;
	margin-right:11px;
}
#bd form {
	max-width: 600px;
}


/* General Typography and spacing */

td, th {
	padding: 0.5em;
	border: 1px solid #AAA;
}

th {
	text-align:right;
	font-weight: bold;
}

thead th {
	text-align: center;
}


/* Home Page */
/* On the homepage, and in the section headers only, change h3 to white */
#home-page-container {
	font-size: 0.9em;
}

#home-page-container h3 {
	background-color: #3f3b97;
	color: white;
	padding: 8px 11px 8px 11px;
	font-size: 1.3em;
	font-weight: 700;
	letter-spacing: normal;
	border-bottom: 1px #5a5784;
}

#flickr-badge-container p {
	padding-top:10px;
}

#flickr-badge-container a img {
	padding:1px;
	width: 33.3333%;
	max-width: 120px;
	max-height: 120px;
	height: auto;
}

img#google-map {
  width:100%;
  max-width: 350px;
  height:auto;
  max-height:250px;
}

/* Footer */
footer {
	text-align: right;
	font-size: 0.7em
}


/* Menus */

/* The login menu on the top right of the page */
#login-logout-container {
	position: absolute;
	z-index: 50;
	right: 10px;
	top: 1em;
	font-size: 0.9em;
}

#member-menu {
	border-top: 1px solid #ddd;
	width: 100%;
}

.navbar {
	min-height: 40px;
}
.nav li.active {
	padding: 9px 14px;
	background-color: #ddd;
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.dropdown-menu>li.active {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: nowrap;
	background-color: #f8f8f8;
}

/* Signup page */

#signuptable input.submit {
	float: right;
}

/* Other */
#bd form table {
	margin-left:0px;
}

form th, form td {
	padding: 0.5em;
}
form table td {
	border:none;
}

label {
	font-weight:bold;
}

tbody .member-id {
	font-weight: normal;
	color: #ccc;
	text-align: right;
}

@media print {
	body {
	  background-image: none;
	}
	th.member-id {
		color: inherit;
	}
	
}

th a.sortable {
	color: inherit;
	text-decoration: none;
}
.tablesorter th {
	cursor: pointer;
}
.tablesorter th.headerSortDown.no-ff-absolute-fix, .tablesorter th.headerSortUp.no-ff-absolute-fix,
.tablesorter th.headerSortDown   .ff-absolute-fix, .tablesorter th.headerSortUp   .ff-absolute-fix {
	padding-right: 35px;
}
.tablesorter th.headerSortDown.no-ff-absolute-fix:after,
.tablesorter th.headerSortDown   .ff-absolute-fix:after {
	content: ' ';
	width: 0; 
	height: 0;
	position: absolute;
	top: 50%;
	margin-top:-3px;
	right: 10px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	
	border-top: 8px solid black;
}
.tablesorter th.headerSortUp.no-ff-absolute-fix:after,
.tablesorter th.headerSortUp   .ff-absolute-fix:after {
	content: ' ';
	width: 0; 
	height: 0;
	position: absolute;
	top: 50%;
	margin-top:-3px;
	right: 10px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	
	border-bottom: 8px solid black;
}


.navbar-collapse {
	background-color: #f8f8f8;
	margin: 10px 2px 0px;
	cursor: pointer;
	border: 1px solid #e7e7e7;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	line-height: 20px;
	color: #777777;
	position: relative;
}
.navbar-collapse:after {
	content: '−';
	position: absolute;
	top: 50%;
	font-size: 20px;
	margin-top: -10px;
	right: 15px;
}
.navbar-collapse.collapsed:after {
	content: '+';
}

@media (min-width: 481px) {
	.collapse, .collapsing, .in {
		display: block;
		height: auto;
	}
	.navbar-collapse {
		display: none;
	}
}
@media (max-width: 480px) {
	#home-page-container h3 {
		margin: 2px;
		position: relative;
		cursor: pointer;
	}
	#home-page-container h3.collapse:after {
		content: '−';
		position: absolute;
		right: 10px;
	}
	#home-page-container h3.collapsed:after {
		content: '+';
		position: absolute;
		right: 10px;
	}
	.collapse {
		display: none;
	}
	.collapsing, .in {
		margin: 0px 2px 10px;
	}
	footer {
		margin-top: 20px;
	}
}


div#webcam-grid {
  float: left;
  padding-left:20px;
  padding-right:20px;
}

div.webcam-image {
  float:left;
  height:320px;
  width:362px;
  margin: 1px;
}

div.webcam-image img {
  display:block;
  margin: 0 auto;
}

div.webcam-image p {
  text-align: center;
  font-weight: bold;
}

/* Calendar API styles */
.calendar-date {
	text-align: center;
	float: left;
	padding: 5px 12px 0px 20px;
	min-width: 78px;
}
.calendar-time {
	text-align: right;
	float: left;
	padding: 0px 12px 0px 0px;
	min-width: 70px;
}
.calendar-month {
	background-color: #3528A8;
	color: #fff;
	font-size: 10px;
	border: 1px solid #3528A8;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.calendar-day {
	border: 1px solid #ccc;
	border-top: 0px;
	font-size: 18px;    
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.calendar-title {
	padding-top: 15px;
	border-top: 6px solid #eee;
}
.calendar-title h3 {
	font-weight: normal;
	margin: 14px 0px 15px 0px;
}
.calendar-title h3 .label {
	font-size: 0.6em;
	position: relative;
	top: -3px;
}
.calendar-title .label-plain {
	color: #888;
	font-weight: 500;
	border: 1px solid #eee;
}
.calendar-event {
	padding: 12px 8px;
}
.calendar-event .label {
	font-size: 11px;
	position: relative;
	top: -2px;
}
.calendar-einfo {
	overflow: hidden;
}
.calendar-event h4 {
	margin-top: 2px;
	font-size: 17px;
}
.calendar-event h4 a {
	font-weight: bold;
}
.calendar-event h4 small {
	margin-top: 6px;
	display: block;
}
.calendar-event p {
	font-size: 14px;
}
.calendar-alldays-container .calendar-day-container.selected .calendar-title,
.calendar-alldays-container .calendar-day-container:first-child .calendar-title {
	border: 0px;
}
.calendar-day-container {
	margin-bottom: 10px;
}

.calendar-datepicker {
	border: 1px solid #ddd;
	color: #888;
	margin-bottom: 27px;
	border-radius: 3px;
	max-width: 270px;
	margin: auto;
}
.calendar-datepicker table {
	width: 100%;
}
.calendar-datepicker th {
	border: 0px;
	padding: 2px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: normal;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #ccc;
	color: #aaa;
}
.calendar-datepicker td {
	border: 0px;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	padding: 0px;
}
.calendar-datepicker td:first-child, .calendar-datepicker th:first-child {
	border-left: 0px;
}
.calendar-datepicker td div {
	padding: 0.5em;
	max-height: 37px;
}
.calendar-datepicker td .has-events1 {
	border-bottom: 3px solid #428bca;
}
.calendar-datepicker td .has-events2 {
	border-bottom: 5px solid #428bca;
}
.calendar-datepicker td .has-events3 {
	border-bottom: 7px solid #428bca;
}
.calendar-datepicker td .has-events4 {
	border-bottom: 9px solid #428bca;
}
.calendar-datepicker td.selected {
	background-color: #eee !important;
	background-image: none !important;
	color: #888 !important;
	filter: none;
	-moz-box-shadow: rgba(0,0,0,0.5) 1px 1px 3px -1px inset;
	-webkit-box-shadow: rgba(0,0,0,0.5) 1px 1px 3px -1px inset;
	-o-box-shadow: rgba(0,0,0,0.5) 1px 1px 3px -1px inset;
	box-shadow: rgba(0,0,0,0.5) 1px 1px 3px -1px inset;
	color: #333;
	background: rgba(0,0,0,0.03);
	border: 0;
}
.calendar-datepicker td.blank {
	cursor: default;
}
.calendar-datepicker .header {
	border-bottom: 1px solid #ccc;
	height: 38px;
}
.calendar-datepicker .header h6 {
	margin: 0px;
	padding: 12px 0 11px 8px;
	font-size: 13px;
	color: #333;
}
.calendar-datepicker .month-next, .calendar-datepicker .month-prev, .calendar-datepicker .day-today {
	border: 0px;
	background-color: transparent;
	border-left: 1px solid #eee;
	float: right;
	font-size: 13px;
	padding: 9px;
	text-decoration: none;
	cursor: pointer;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 4px;
  color: white;
  margin-bottom: 4px;
  float: left;
  padding: 5px;
  font-size: 100%;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* profile */
#bd .profile {
	margin-top: 30px;
	max-width: none;
}
.profile h4 {
	font-weight: bold;
	margin-top: 20px;
	font-size: 1.1em;
}
.profile h5 {
	font-size: 1.1em;
	margin-top: 10px;
}
.profile .details {
  padding-top:5px;
  color: #999;
}
.profile #photo-select {
	border-radius: 0 0 3px 3px;
}
.member-avatar img {
	width: 100%;
}
.member-avatar button {
	margin: 0px auto;
	width: 100%;
	display:block;
}
.member-avatar input {
	visibility: hidden;
}
span.member-social-icon {
	font-size: 28px;
	position: relative;
	top: 8px;
}
.profile-view span.member-social-icon {
	line-height: 0;
}
.member-training img.icon {
	width: 50px;
	padding-right: 8px;
}
.profile textarea {
	margin-top: 6px;
}
.profile .checkbox.restyle {
	padding: 0px;
}
.profile .checkbox.restyle label {
	padding: 6px;
	display: block;
	margin: 0px;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.profile .checkbox.restyle label.selected {
	background-color: #428bca;
	border-color: #428bca;
	font-weight: bold;
	color: white;
}
.profile .checkbox.restyle label.selected:after {
	content: "x";
	font-weight: bold;
	line-height: 1;
	font-size: 110%;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -11px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.profile .checkbox.restyle input[type='checkbox'] {
	visibility: hidden;
}
.profile .interests .checkbox label {
	font-size: 0.9em;
	padding: 3px 8px;
}
.profile .interests .checkbox.restyle label.selected:after {
	margin-top: -9px;
	right: 8px;
}
.profile ul {
	padding: 0px;
	list-style-type: none;
}
.profile .interests li {
	padding: 0px;
}
.profile .interests .list div {
	float: left;
	width: 20%;
}

.profile .profile-heading {
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #f5f5f5;
}

.profile .profile-heading h3 {
  font-size: 1.75em;
  margin-top: 3px;
  margin-bottom: 3px;
}

.profile .profile-body ul {
  display:block;
}

.profile .profile-body h4 {
  margin-bottom: 3px;
  margin-top: 20px
}

@media (max-width: 600px) {
.profile .interests .list div {
	width: 50%;
}
}
.profile .dropdown-menu>li:not(.divider) {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
}
.profile .alias-field .dropdown-menu>li:not(.divider) {
	padding: 8px 20px 8px 50px;
	position: relative;
}
.profile .dropdown-menu>li:hover {
	background-color: #eee;
}
.profile .aliases-list {
	padding: 0px;
	margin-bottom: 0px;
	list-style-type: none;
}
.profile .social-aliases {
  padding-top: 5px;
}

.profile .contact-list li {
	padding-bottom: 5px;
}
.profile .aliases-list li {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.profile .alias-field:first-child .alias-remove {
	display: none;
}
.profile .alias-field:first-child .dropdown-toggle {
	border-radius: 0px 3px 3px 0px;
}
.profile .alias-field span.member-social-icon {
	font-size: 28px;
	position: absolute;
	top: 50%;
	margin-top: -14px;
	left: 14px;
}
.profile .alias-field .dropdown-toggle {
	padding-left: 40px;
}
.profile .alias-field .dropdown-toggle.no-icon {
	padding-left: 12px;
}
.profile .alias-field button span.member-social-icon {
	font-size: 20px;
	margin-top: -10px;
}
.profile .aliases .input-group {
	margin-bottom: 10px;
	max-width: 400px;
}
.profile .aliases .dropdown-toggle {
	border-radius: 0px;
}
.profile .personal-site input {
	max-width: 400px;
}
.profile .member-training .training-badges {
	width: 100%;
	padding: 0px;
}
.profile .member-training .btn-group {
	width: 100%;
}
.profile .member-training .btn {
	width: 100%;
	text-align: left;
	position: relative;
}
.profile .member-training .btn .caret {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -1px;
}
.profile .member-training .remove-img {
	position: relative;
	float: left;
	width: 32%;
	cursor:pointer;
}
.profile .member-training .remove-img img {
	width: 100%;
	padding: 4px;
}
.profile .member-training .remove-img:before {
	content: 'x';
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-weight: bold;
	color: white;
	background-color: #283da6;
	border-radius: 20px;
	border: 1px solid #eee;
	padding: 3px 10px;
}
.profile .member-training .training-badge img {
	width: 32%;
	padding: 4px;
}
.edit_bttn {
	float: right;
	margin-left: 10px;
}

/* twitter typeahead */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
	display: none;
}

.twitter-typeahead .hint-small
{
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 3px;
	line-height: 1.5;
}

.twitter-typeahead .hint-large
{
	height: 45px;
	padding: 10px 16px;
	font-size: 18px;
	border-radius: 6px;
	line-height: 1.33;
}

.tt-dropdown-menu {
  min-width: 180px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
		  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	 -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
	 -moz-background-clip: padding;
		  background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

#bd .storage-form {
	max-width: none;
}
.storage-form .location-fields input, .storage-form .location-fields select {
	width: auto;
	display: inline-block;
}

.storage-request-notice div:nth-child(2) {
	margin: 15px 20px 5px;
}
.storage-request-notice div:nth-child(3) {
	margin: 5px 20px 15px;
}
.storage-request-notice .btn {
	width: 200px;
}

.light-color {
	color: #999;
}

.status {
	padding: 8px 14px;
	display: inline-block;
	border-radius: 3px;
	font-size: 11px;
	color: rgba(0,0,0,0.5);
	font-weight: bold;
	margin-top: 3px;
	text-transform: uppercase;
}
.status.small {
	font-size: 10px;
	padding: 4px 6px;
}
.status.list {
	width: 120px;
	text-align: center;
}
h3 .status {
	position: relative;
	top: -3px;	
	margin-top: 0;
}
.status.pending, .status.removed {
	background-color: #ccc;
}
.status.archived {
	background-color: #eee;
}
.status.approved, .status.extended {
	background-color: #5cb85c;
}
.status.unapproved {
	background-color: #ea8880;
}
.status.passed {
	background-color: #d9534f;
}
form .read-only {
	padding-top: 7px;
}

.card-management .blocked {
  color: #777;
}

.card-management .blocked [name^=enable_] {
  background-color: #484;
  color: #fff;
}
.card-management .blocked [name^=delete_] {
  background-color: #a44;
  color: #fff;
}
