body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #232323;   /* off-black */
}


/* Header */

#hd {
    font-weight: lighter;
}

#hd.small-page-heading {
    margin-bottom: 14px;
}
#hd.small-page-heading div {
    margin-bottom: 14px;
}

#hd a, #hd h1 {
    float:left;
    padding: 7px 10px;
    margin: 0;
}

#hd.small-page-heading img {
  width: 60px;
  height: 60px;
}
#hd.large_page_heading img {
    width: 95px;
    height: 95px;
}

#hd h1 {
    font-weight:700;
    font-size: 2em;
    line-height: 1em;
}

#hd.large-page-heading div.blurb {
    margin-top:0.5em;
    line-height: 1.3em;
    font-size: 1.33em;
}
#hd hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}


/* Body */
#bd {
    padding-top: 3px;
}

#bd p, #bd table, #bd form {
    margin-left:11px;
    margin-right:11px;
}
#bd td, #bd th {
  padding: 0.5em;
}


/* General Typography and spacing */

h2 {
    margin-top:0px;
    margin-bottom: 7px;
}   


h3 {
    margin-bottom:7px;
    margin-top:14px;
}

td, th {
    border: 1px solid #AAA;
}

th {
    text-align:right;
    font-weight: bold;
}

thead th {
    text-align: center;
}

p {
    margin-bottom: 1em;
}


/* Home Page */
#doc {
    background-color: white;
    padding-top: 4px;
}

/* On the homepage, and in the section headers only, change h3 to white */
#home-page-container {
    font-size: 0.9em;
}

div.home-page-section {
}

#home-page-container h3 {
    background-color: #3f3b97;
    color: white;
    padding: 6px 11px 6px 11px;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: normal;
    border-bottom: 1px #5a5784;
}

.flickr-badge-container {
   padding-left: 20px; 
}

.flickr-badge-container a {
    width: 78px;
    height: 78px;
    margin: 0;
}

.flickr-badge-container a img {
    padding: 2px;
}

#google-maps-content {
    /*
        We're in a 'p' tag container so as to align the left hand side of the
        image with the surrounding text, but the 300 pixel width then
        overflows the box on the right
    */
    width: 278px;
    height: 200px;
    padding: 1px;
    border: 1px solid #5a5784;
}




/* Footer */
#ft {
    text-align: right;
    font-size: 0.7em
}





/* Menus */

/* The login menu on the top right of the page */
#login-logout-container p {
    float: right;
    padding: 0;
    margin: 1em 0 0 0;
    font-size: 0.8em;
}

#menu-container {
    margin: 0px 0 0 10px;
    font-size: 0.8em;
}

#menu-container h4 {
    margin: 0;
    font-size: 1.1em;
}

#menu-container ul {
    width: 100%;
    padding-top: 0;
    float: right;
}

#menu-container li {
    list-style-type: none;
    font-weight: bold;
    list-style-type: none;
    padding: 4px 12px 3px;
    margin:0;
}

#menu-container li.active {
    background-color: #3528A8;
    color: #fff;
}

/* Signup page */

#signuptable input.submit {
    float: right;
}

/* Other */
div.validation_exception p {
    color: red;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.5em;
    border: 1px solid black;
}

#bd form table {
    margin-left:0px;
}

form th, form td {
    padding: 0.5em;
}
form table td {
    border:none;
}

label {
    font-weight:bold;
}

tbody th.member-id {
    font-weight: normal;
    color: #ccc;
}

@media print {
    body {
      background-image: none;
    }
    th.member-id {
        color: inherit;
    }
    
}

th a.sortable {
    color: inherit;
    text-decoration: none;
}

