<?php

$PROJECT_MAILING_LIST = "london-hack-space-test";

# These are our sandbox details, fear not.
$GOCARDLESS_CREDENTIALS = array(
  'app_id'        => 'TXF4N17MQRTA2NVTYFNMEC9PG79QEVT89H3C170C532ZDDQQ3NS1J8SE37RA6Q2Z',
  'app_secret'    => '2K56Z664TZ99K54ACZN1REVEE5BRZ4563WHEJEXDSKA8TVY4Q52XE1ZZNAR9D68P',
  'merchant_id'   => 'AYVJKW90M0AR0H4T0J5M6J908QFV6M5T9ZVWXJK69YBC60GH7SYQ9SEHC07TNFJN',
  'access_token'  => '0SDNTJADVK'
);
