{% extends 'main/base.html' %}
{% block title %}{% with title='GoCardless' %}{{ block.super }}{% endwith %}{% endblock %}
{% block page %}{% with page='gocardless' %}{{ block.super }}{% endwith %}{% endblock %}
{% block content %}
<p>Hi There. I'd like to talk to you about GoCardless...</p>
<h3>Setup</h3>
{% if customer_record is None %}
You have not yet set up GoCardless on your account.<br>
<a href="{% url 'gocardless:setup' %}" role="button" class="btn btn-success">Set Up GoCardless</a>
{% else %}
<div class="alert alert-success" role="alert">
  You have successfully set up a Direct Debit using GoCardless!
</div>
GoCardless Ltd will appear on your bank statement when payments are taken against this Direct Debit.
{% endif %}

{% endblock %}