from .settings import *

SECRET_KEY = ')(umc97y$zy@=_4y1ca3(rrxr1n=9#27ikx#$67@95!j-p^zfy'

DEBUG = False

SITE_ID = 1
DOMAIN_NAME = 'london.hackspace.org.uk'
ABSOLUTEURI_PROTOCOL = 'https'

ALLOWED_HOSTS = [DOMAIN_NAME]

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'HOST': 'localhost',
        'NAME': 'hackspace',
        'USER': 'hackspace',
        'PASSWORD': 'P0oVqZn49DR3',
    }
}

PROJECT_MAILING_LIST = 'london-hack-space'

FLOURISH_LOOPBACK_URLS = {
    'authenticate': 'https://%s/session.php' % DOMAIN_NAME,
    'destroy': 'https://%s?destroy' % DOMAIN_NAME,
}

CONTACT_EMAIL = 'contact@' + DOMAIN_NAME
NOREPLY_EMAIL = 'no-reply@' + DOMAIN_NAME

