body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    margin: 0; padding:0;
}

a {
    color: #ed1c24;
    font-weight:bold;
}

a:visited {
    color #112;
}

#doc {
    background: #fff;
    padding-top: 4px;
}

#hd {
    border-bottom: 1px solid #AAA;
    margin-bottom:5px;
}

#bd {
    padding-top: 6px;
}

#bd p {
    padding-left:11px;
}

h1 {
    margin: 0;
}

h2 {
    margin-top:0px;
    margin-bottom: 7px;
}   


h3 {
    margin-bottom:7px;
    margin-top:14px;   
}

#yui-main {
    min-height: 500px;
}

#ft {
    text-align: right;
    color: #AAA;
    font-size: 90%
}

#headerlogo {
    float:left;
}

#membermenu {
    padding-top:10px;
    float:right;
}

#membermenu li{
    display:inline;
    list-style-type:none;
    padding-right:5px;
}

#loggedin {
    float:right;
    padding-top:23px;
    font-size: 80%;
}

#menu {
    margin: 0px 0 0 10px;
    font-size:110%;
}

#menu li {
    font-weight:bold;
    list-style-type: none;
    padding:8px 8px 6px; margin:0;
}

#menu li.active {
    background-color: #ed1c24;
    color: #fff;
}

#submenu {
    margin: 2px 0 24px 10px;
}

#submenu li {
    display:inline;
    list-style-type: none;
    margin-right: 10px;
}

.blurb {
    margin-top:3px;
    font-size: 110%
}

#signuptable td {
    border:none;
}

